
<template>
  <div class="row justify-content-center">
    <card>
      <div v-for="item in list" :key="item.id" class="card">
        <v-card-title class="card-header d-flex mb-6">
            <div class="mr-auto">
            {{item.title}} By: {{item.user.name}}
            </div>
        </v-card-title>
        <v-card-text class="card-body">{{item.content}}</v-card-text>
        <v-divider></v-divider>

        <v-row>
        <v-col cols="11" class="pl-13">
        <v-text-field
          rounded
          label="Write a comment..."
                solo
              >
            </v-text-field>
            </v-col>
            <v-col cols="1" class="pt-4">
            <v-btn fab small ><v-icon>mdi-send-outline</v-icon></v-btn>
          </v-col>
          </v-row>
      </div>
    </card>
  </div>

   
</template>

<script>
  export default{
    async beforeRouteEnter(to, from, next){
    var d
    await axios.get('api/user')
      .then(res=>{

      })
      await axios.get('api/user/blog/showall')
      .then(res=>{
        d = res.data
        })
        next(v=>{
          // console.log(v)
          v.list = d.payload
        })
    
      },
    metaInfo () {
      return { 
        title: this.$t('settings')
       }
    },
    data(){
      return{
        editModal:false,
        blog:{
          id:null,
          title:null,
          content:null
        },
        list:[]
      }
    },
    methods : {
      
    }
  }

</script>























<!-- <template>
  <div class="row">
    <div class="col-lg-10 m-auto">
      <card :title="$t('home')">
        <template>
          <v-text-field
            v-model.lazy="search"
            append-icon="mdi-magnify"
            label="Search Name"
            single-line
            hide-details
            @input="searchfunc"
          ></v-text-field>
          <v-data-table v-model="selected"
            hide-default-footer
            :headers="headers"
            :items="list"
            :single-select="singleSelect"
            item-key="id"
            class="elevation-1"
            show-select
            >
          </v-data-table>
          <div class="text-center pt-2">
          <v-pagination v-model="page" :length="pageCount" :total-visible="itemsPerPage" @input="onPageChange"></v-pagination>
          </div>
        </template>
      </card>
<template> -->
          
<!-- <div align="right" v-if="selected.length > 0"> -->


<!-- modal edit -->
<!-- <template>
  <div >
    <v-dialog v-model="dialogedit" width="500">
      <v-card >

        <v-card-title class="text-h5 grey lighten-2">
          EDIT
        </v-card-title>
        <v-card  style="margin: 10px;padding: 10px">
            <form>
              <v-text-field
                v-model="user.edit.name"
                :counter="10"
                label="Name"
              ></v-text-field>
              <v-text-field
                v-model="user.edit.email"
                label="E-mail"
              ></v-text-field>
            </form>
          
        </v-card>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error" @click="clear">Clear</v-btn>
          <v-btn color="primary" @click="submitedit">Submit</v-btn>
        </v-card-actions>
        
      </v-card>
     <template v-slot:activator="{ on, attrs }"  >
            
            <v-btn color="normal" elevation="2" large v-bind="attrs" v-on="on" @click="btnedit">EDIT</v-btn>
        
    </template>
    <template>
           <v-alert v-model="alert"
           :type="alerttype"
            >
            {{alerttext}}
            </v-alert>
    </template>
    </v-dialog>
    <v-btn color="secondary" elevation="2" large @click="btnview">VIEW</v-btn>
    <v-btn color="error" elevation="2" large @click="btndelete">DELETE</v-btn>
  </div>

</template> -->
<!-- modal edit end -->





           
<!-- </div>
<div align="right" v-else> -->











<!-- modal add -->
<!-- <template>
  <div >
    <v-dialog v-model="dialogadd" width="500">
      <v-card >

        <v-card-title class="text-h5 grey lighten-2">
          ADD
        </v-card-title>
        <v-card  style="margin: 10px;padding: 10px">
            <form>
              <v-text-field
                v-model="user.add.name"
                :counter="10"
                label="Name"
              ></v-text-field>
              <v-text-field
                v-model="user.add.email"
                label="E-mail"
              ></v-text-field>
               <v-text-field
                v-model="user.add.pass"
                label="Password"
                type="password"  
              ></v-text-field>
            </form>
          
        </v-card>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error" @click="clear">Clear</v-btn>
          <v-btn color="primary" @click="submitadd">Submit</v-btn>
        </v-card-actions>
        
      </v-card>
      <template v-slot:activator="{ on, attrs }"  >
              <v-btn color="primary" elevation="2" large v-bind="attrs" v-on="on"
              @click="clear">ADD</v-btn>       
      </template>
      <template>
             <v-alert v-model="alert"
             :type="alerttype"
              >
              {{alerttext}}
              </v-alert>
      </template>
    </v-dialog>
    
  </div>

</template> -->
<!-- modal add end -->










            
          
<!-- </div>
</template>
    </div>
  </div>
</template>
<script>
// import axios from 'axios'
export default {
  async beforeRouteEnter(to, from, next){
  var d
  await axios.get('api/user')
    .then(res=>{
      console.log(res.data.email)
    })
  await axios.post('api/user/list/view?page='+1)
    .then(res=>{
      var x = res.data
      d = x.data
    })
    next(v=>{
      v.list = d.data
      v.itemsPerPage = d.per_page
      v.page = d.current_page
      v.pageCount = d.last_page
    })
  },
  data () {
      return {
        user:{
          add:{
            name: null,
            email: null,
            pass: null,
          },
          edit:{
            id:null,
            name: null,
            email: null,
          }
          
        },
        search:null,
        page: 1,
        pageCount: 0,
        itemsPerPage: 1,
        singleSelect: true,
        dialogadd:false,
        dialogedit:false,
        alert:false,
        alerttype:null,
        alerttext:[],
        alerttype:null,
        selected: [],
        headers: [
          {
            text: 'Name',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'EMAIL', value: 'email' },
        ],
        
        list: [],
      }
    },
  middleware: 'auth',

  methods : {
    async clear() {
        this.user.edit.name=''
        this.user.edit.email=''
        this.user.add.name=''
        this.user.add.email=''
        this.user.add.pass=''
        this.alert=false  
    },
    async btndelete(){
      // console.log(this.selected)
      await axios.post('api/user/function/remove',this.selected)
      .then(res=>{
        this.selected = "";
        this.reloadlist()
        alert(res.data.data+" "+res.data.message)
      })
    },
    async btnedit(){
      this.clear()
      this.user.edit.email = this.selected[0]['email']
      this.user.edit.name = this.selected[0]['name']
      this.user.edit.id = this.selected[0]['id']
    },
    async submitedit(){
      await axios.post('api/user/function/edit',this.user.edit)
      .then(res=>{
        this.clear()
        console.log(res.data)
        alert(res.data.data+" "+res.data.message)
        this.dialogedit=false
        this.reloadlist()
      })
      .catch(err=>{
        this.alert=true
        this.alerttype='error'
        var x= err.response.data.errors
        var al = [x.name,x.email]
        this.alerttext = al.toString().replace(/,/g,"")
      })
      // this.alerttype='success'
    },
    async submitadd(){
      await axios.post('api/user/function/new',this.user.add)
      .then(res=>{
          this.clear()
          this.alert=true
          this.alerttype='success'
          this.alerttext =res.data.message
          this.reloadlist()
      })
      .catch(err=>{

        // this.alert=true
        // this.alerttype='error'
        var x= err.response.data.errors
        var al = [x.name,x.email,x.pass]
        var alerttext = al.toString().replace(/,/g,"")
        Swal.fire({
          title: 'Error!',
          text: alerttext,
          icon: 'error',
          confirmButtonText: 'OK'
        })
      });
    },
    async onPageChange(){
      this.reloadlist()
    },
    async reloadlist(){
      await axios.post('api/user/list/view?page='+this.page)
      .then(res=>{
        var d = res.data
        this.list =d.data.data
        this.itemsPerPage = d.data.per_page
        this.page = d.data.current_page
        this.pageCount = d.data.last_page
      })
    },  
    async searchfunc(){
      await axios.post('api/user/list/view?page='+this.page+'&search='+this.search)
      .then(res=>{
        var d = res.data.data
        this.list =d.data
        this.itemsPerPage = d.per_page
        this.page = d.current_page
        this.pageCount = d.last_page
      })
    },
    async btnview(){
      await axios.post('api/user/function/view',this.selected)
      .then(res=>{
        var d = res.data
        var date = d.data[0]['created_at']
        var view = 'Name: '+d.data[0]['name']+' Email: '+d.data[0]['name']+' Created: '+date.slice(0,10)
        alert(view)
      })
    },
  },

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo () {
    return { title: this.$t('home') }
    
  }
}
</script> -->
