<template>
	<div class="row justify-content-center">
		<card>
			<card :title="$t('Write Something')">
				<v-text-field
					v-model="blog.title"
		            label="Title"
		            solo
	            >
		        </v-text-field>
				<v-textarea 
					v-model="blog.content"
					label="Content"
				></v-textarea>
				<div class="d-flex flex-row-reverse">
				<v-btn
					@click="post"
					color="primary"
					elevation="7"
				>POST</v-btn>	
				</div>
				
			</card>
			<div v-for="item in list" :key="item.id" class="card">
				<v-card-title class="card-header d-flex mb-6">
						<div class="mr-auto">
						{{item.title}}
						</div>
						<div>
						<v-btn fab x-small text @click="edit" attr><v-icon>mdi-pencil</v-icon></v-btn>
						<v-btn fab x-small text @click="deletebtn" :data-a="item.id"><v-icon>mdi-delete</v-icon></v-btn>
						</div>
				</v-card-title>
				<v-card-text class="card-body">{{item.content}}</v-card-text>
				<v-divider></v-divider>

				<v-row>
				<v-col cols="11" class="pl-13">
				<v-text-field
					rounded
					label="Write a comment..."
		            solo
	            >
		        </v-text-field>
		        </v-col>
		        <v-col cols="1" class="pt-4">
		        <v-btn fab small ><v-icon>mdi-send-outline</v-icon></v-btn>
		    	</v-col>
		    	</v-row>
			</div>
		</card>
	</div>

   
</template>

<script>
	export default{
		async beforeRouteEnter(to, from, next){
		var userid = ''
		var d
		await axios.get('api/user')
	    .then(res=>{
	    	userid = res.data.id
	    	console.log(userid)
	    })
	    await axios.post('api/user/blog/show',{user_id:userid})
			.then(res=>{
				d = res.data
		    })
		    next(v=>{
		    	// console.log(v)
		    	v.list = d.payload
		    })
		
	    },
		metaInfo () {
			return { 
				title: this.$t('settings')
			 }
		},
		data(){
			return{
				editModal:false,
				blog:{
					email:null,
					id:null,
					title:null,
					content:null
				},
				list:[]
			}
		},
		methods : {
			async reloadblog(){
				var userid = ''
				var d
				await axios.get('api/user')
			    .then(res=>{
			    	userid = res.data.id
			    })
			    await axios.post('api/user/blog/show',{user_id:userid})
				.then(res=>{
					d = res.data
					this.list = d.payload
			    })
			},
			async edit(){
				this.editModal = true
			},
			async deletebtn(){
				alert(item.id)
			},
			async post() {
				if (this.blog.title == null && this.blog.content == null) {
					await Swal.fire({
					title: 'Info!',
					text: 'Please fill out the fields',
					icon: 'info',
					confirmButtonText: 'Ok'
				})
				}else{
					await axios.get('api/user')
				    .then(res=>{
				      this.blog.id = res.data.id
				      this.blog.email = res.data.email
				    })
					await axios.post('api/user/blog/new',this.blog)
					.then(res=>{
						console.log(res)
						Swal.fire({
							title: 'Info!',
							icon: 'success',
							confirmButtonText: 'Ok',
							text: 'Content Posted!'
							
						})
						this.blog.title=''
		        		this.blog.content=''
		        		this.list = []
		        		this.reloadblog()
		            })
				}



				// const { value: accept } = await Swal.fire({
				// 	title: 'Info!',
				// 	text: 'Content Posted!',
				// 	icon: 'info',
				// 	confirmButtonText: 'Ok'
				// })
				// if (accept) {
					
					
				// }
		         
		    } 	
		}
	}

</script>